@model CommentViewModel
@{
}

<form method="post" asp-action="Comment">
    <input type="hidden" asp-for="MovieId" />
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea class="form-control" asp-for="Text" rows="6"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rate"></label>
        <select asp-for="Rate" class="custom-select">
            <option value="" disabled selected>Seçiniz</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span asp-validation-for="Rate"></span>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>