@{
    ViewData["Title"] = "Home Page";
}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Inner -->
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/image/2010glennies-bp-10-inception.webp" class="d-block w-100" style="width: 800px; height: 450px;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:white">BU HAFTA EN ÇOK İZLENEN </h5>
                    <p style="color:white">BİLİM KURGU SEVİYORSANIZ.</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item" data-bs-interval="2000">
            <img src="~/image/wallpapersden.com_avatar-2-the-way-of-water-banner_5120x1440.jpg" class="d-block w-100" style="width: 800px; height: 450px;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <img src="~/image/wp5993832.png" class="d-block w-100" style="width: 800px; height: 450px;"  alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<partial name="_MovieListPartial" model="@ViewBag.MostViews as IEnumerable<Movie>" />
<script>
    $(document).ready(function () {
        $('#carouselExampleDark').carousel({
            interval: 1000 // 2 SANİYE 
        });
    });
</script>