@model PagedList<Movie>
@{
    ViewData["title"] = "Arama Sonuçları";
}

<div class="d-flex justify-content-center py-2">
    @Html.PagedListPager(Model,
        page => Url.Action("Search", new { keyword = ViewBag.Keyword, page = page })
        , MovieManagerExtensions.PagedListOptions)
</div>

<partial name="_MovieListPartial" model="@Model" />

<div class="d-flex justify-content-center py-2">
    @Html.PagedListPager(Model,
        page => Url.Action("Search", new { keyword = ViewBag.Keyword, page = page })
        , MovieManagerExtensions.PagedListOptions)
</div>

