html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.film-box,
.film-box .card-body .card-title a {
    transition: .3s all linear;
}


    .film-box:hover {
        box-shadow: 0px 0px 8px 8px #eee;
        background-color: aliceblue;
        transform: scale(1.03);
    }

        .film-box:hover .card-body .card-title a {
            color: fuchsia;
            text-shadow: 1px 1px 1px red, 0 0 .3em blue;
        }
