@model ResetPasswordFormViewModel
@{
    ViewData["title"] = "Parola Yenile";
}
<h4>@ViewData["title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4 d-none d-md-block">
        <img src="~/images/register.png" />
    </div>
    <div class="col-md-8">

        <p>
            E-posta adresinize bir .... parolanızı belirleyiniz.
        </p>

        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <div asp-validation-summary="All"></div>
            </div>
        }

        <form method="post" asp-action="ResetPasswordForm">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Token"></label>
                <input class="form-control" asp-for="Token">
                <span asp-validation-for="Token"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordCheck"></label>
                <input class="form-control" asp-for="PasswordCheck">
                <span asp-validation-for="PasswordCheck"></span>
            </div>

            <hr />
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}