@model ResetPasswordViewModel
@{
    ViewData["title"] = "Parola Yenile";
}
<h4>@ViewData["title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4 d-none d-md-block">
        <img src="~/images/register.png" />
    </div>
    <div class="col-md-8">
        @if(!ViewContext.ModelState.IsValid){
        <div class="alert alert-danger">
            <div asp-validation-summary="All"></div>
        </div>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}